/**
 * IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT
 *
 * You should never commit this file to a public repository on GitHub!
 * All public code on GitHub can be searched, that means anyone can see your
 * uploaded .env file.
 *
 * I did it for your convenience using "throw away" API credentials so that
 * all features could work out of the box.
 *
 * Use environment variables below to configure a different set of API keys for production use.
 * Each hosting service (e.g. Heroku, Digital Ocean, OpenShift, Azure, Bluemix)
 * allows you to set up environment variables from the dashboard.
 *
 * Screenshot: http://bit.ly/1kJP2N4
 *
 * IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT
 */

BRIGADE=codeforexample

NODE_ENV=develop

MONGODB=mongodb://localhost:27017/brigadehub
MONGOLAB_URI=mongodb://localhost:27017/brigadehub

SESSION_SECRET=superSecretSessionId

GITHUB_ID=be1b409d62f41a56684c
GITHUB_SECRET=15b3e064eb512ed185f4e9a40e38cba5f1db594d

MEETUP_KEY=4cnsvla9oq24lm7i6q3qjnp2dl
MEETUP_SECRET=2nfedesq0a23b9vo7s4g751s2t
