[data-view='blog-list'] {
  .tags {
    margin: 20px 0 30px;
    ul {
      list-style-type: none;
      padding:0;
      li {
        display: inline-block;
        a {
          font-size: 18px;
          font-weight: 700;

          display: inline-block;

          padding-right: 15px;

          transition: 0.2s linear all;
          text-decoration: none;

          color: #000000;
          &:hover {
            text-decoration: none;

            color: #d20a11;
            outline: none;
          }
        }
      }
    }
  }
}
