form.row.form-horizontal(action='/contact/message/new', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='name', name='name', id='name', value='')
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value='')
    .form-group
      label.col-sm-3.control-label(for='message') Message
      .col-sm-7
        textarea.form-control(name='message', id='message', rows="6")
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Send Message