extends ../layout

block content
  .page-header
    h3 Manage contact page
    .row
      .col-sm-6
      table.table
        thead
          tr
            th Username
            th Name
            th Display contact info to public?
            th Display Order
        tbody
        form.row.form-horizontal(action='/contact', method='POST')
          each user in users
            tr
              td.username= user.username
              td.name= user.profile.name
              td.select
                input.select-user(type='checkbox', name='showcontact', checked=(user.profile.showcontact))
              td


