extends ../layout

block content
  .row
    .col-xs-12
      h2 Contact
      hr
  .row
    .col-sm-9
      .row
        .col-sm-6
          .row
            .col-sm-3
                img(src="http://lorempixel.com/g/81/81/")
            .col-sm-9
                h3
                  a(href="#") Krzysztof Madejski
                p Koordynator ogólnopolski
                p
                  a(href="#") krzysztof.madejski@epf.org.pl
                p 664 082 823
        .col-sm-6
          .row 
            .col-sm-3
                img(src="http://lorempixel.com/g/81/81/")
            .col-sm-9
                h3 
                  a(href="#") Krzysztof Madejski
                p Koordynator ogólnopolski
                p
                  a(href="#") krzysztof.madejski@epf.org.pl
                p 664 082 823
      .row
        .col-sm-6
          .row
            .col-sm-3
                img(src="http://lorempixel.com/g/81/81/")
            .col-sm-9
                h3
                  a(href="#") Krzysztof Madejski
                p Koordynator ogólnopolski
                p
                  a(href="#") krzysztof.madejski@epf.org.pl
                p 664 082 823
    .col-sm-3
      h2 See Also
      img(src="http://lorempixel.com/g/240/240/")
      p 
        a(href="#") Visualization Budget Lodz
      p We visualize the budget of the city of Lodz
      img(src="http://lorempixel.com/g/240/240/")