extends ../layout

block content
  .page-header
    h3 Contact
    div.container
      div.row
        div.col-sm-4
          img(src="http://lorempixel.com/g/81/81/")
          h4
            a(href="#") Krzysztof Madejski
          p Koordynator ogólnopolski
          p
            a(href="#") krzysztof.madejski@epf.org.pl
          p 664 082 823

        div.col-sm-4
          img(src="http://lorempixel.com/g/81/81/")
          h4
            a(href="#") Krzysztof Madejski
          p Koordynator ogólnopolski
          p
            a(href="#") krzysztof.madejski@epf.org.pl
          p 664 082 823

        div.col-sm-4
          img(src="http://lorempixel.com/g/81/81/")
          h4
            a(href="#") Krzysztof Madejski
          p Koordynator ogólnopolski
          p
            a(href="#") krzysztof.madejski@epf.org.pl
          p 664 082 823


    h4 Partners
    div.container
      div.row
        div.col-sm-3
          a(href="#")
            img(src="http://lorempixel.com/g/150/50/")
        div.col-sm-3
          a(href="#")
            img(src="http://lorempixel.com/g/150/50/")
        div.col-sm-3
          a(href="#")
            img(src="http://lorempixel.com/g/150/50/")
        div.col-sm-3
          a(href="#")
            img(src="http://lorempixel.com/g/150/50/")


      button Show all
