extends ../layout

block content
  .page-header
    h3 Contact
    div.container
      div.row
        div.container
          div.col-sm-9
            div.row
              div.col-sm-6
                img(src="http://lorempixel.com/g/81/81/")
                h4
                  a(href="#") Krzysztof Madejski
                p Koordynator ogólnopolski
                p
                  a(href="#") krzysztof.madejski@epf.org.pl
                p 664 082 823

              div.col-sm-6
                img(src="http://lorempixel.com/g/81/81/")
                h4
                  a(href="#") Krzysztof Madejski
                p Koordynator ogólnopolski
                p
                  a(href="#") krzysztof.madejski@epf.org.pl
                p 664 082 823

              div.col-sm-6
                img(src="http://lorempixel.com/g/81/81/")
                h4
                  a(href="#") Krzysztof Madejski
                p Koordynator ogólnopolski
                p
                  a(href="#") krzysztof.madejski@epf.org.pl
                p 664 082 823

              div.col-sm-6
                img(src="http://lorempixel.com/g/81/81/")
                h4
                  a(href="#") Krzysztof Madejski
                p Koordynator ogólnopolski
                p
                  a(href="#") krzysztof.madejski@epf.org.pl
                p 664 082 823

              div.col-sm-6
                img(src="http://lorempixel.com/g/81/81/")
                h4
                  a(href="#") Krzysztof Madejski
                p Koordynator ogólnopolski
                p
                  a(href="#") krzysztof.madejski@epf.org.pl
                p 664 082 823

              div.col-sm-6
                img(src="http://lorempixel.com/g/81/81/")
                h4
                  a(href="#") Krzysztof Madejski
                p Koordynator ogólnopolski
                p
                  a(href="#") krzysztof.madejski@epf.org.pl
                p 664 082 823
                
          div.col-sm-3
            h4 See Also
            img(src="http://lorempixel.com/g/240/240/")
            p 
              a(href="#") Visualization Budget Lodz
            p We visualize the budget of the city of Lodz
            img(src="http://lorempixel.com/g/240/240/")


    h4 Partners
    div.container
      div.row
        div.col-sm-3
          a(href="#")
            img(src="http://lorempixel.com/g/150/50/")
        div.col-sm-3
          a(href="#")
            img(src="http://lorempixel.com/g/150/50/")
        div.col-sm-3
          a(href="#")
            img(src="http://lorempixel.com/g/150/50/")
        div.col-sm-3
          a(href="#")
            img(src="http://lorempixel.com/g/150/50/")


      button Show all
