extends ../layout

block content
  .page-header
    h3 About Us

    h4 About Code for San Francisco
    p.
      Code for San Francisco is a group of people, first and foremost. We also
      call ourselves technologists, planners, designers, doers, thinkers, and
      activists.
      #[a(href="http://www.meetup.com/Code-for-San-Francisco-Civic-Hack-Night/", target="_blank") Each week],
      we actively work together to improve the City and County of San Francisco,
      often using technology
      #[a(href="https://github.com/sfbrigade", target="_blank") using technology],
      to support our efforts. By connecting people,
      organizations, resources, tools, and networks to build for San Francisco,
      we will all thrive.

    h4 Brigade
    p.
      Code for San Francisco is a local chapter of the Code for America Brigade,
      an international network of people committed to using their voices and hands,
      in collaboration with local governments, to make their cities better.

    h4 Code of Conduct
    p.
      Code for San Francisco holds it’s leadership and participants to a Code of
      Conduct, which applies to our meetups, events, and digital forums. Read our
      #[a(href="https://docs.google.com/document/d/1ZV_iy2CeDlTu13Af9-_5NyOC8SVP9mpxIBn0g1e_S-Q/edit", target="_blank") Code of Conduct],
      .

    h4 Our Vision
    p.
      Code for San Francisco is a safe space for experimentation, learning and
      practicing skills, taking chances, and asking questions, all to affect and
      encourage positive change. Whenever possible, we proactively reach out to
      those who are left out, excluded, ignored, or discriminated against. Those
      people, in our opinion, represent our most desirable source for experiences,
      knowledge, and thoughts. We fail without their involvement.

    h4 Leadership Team
    p.
      Code for San Francisco is organized by a volunteer group of leaders. Reach
      us at hello@codeforsanfrancisco.org, or
      #[a(href="https://sfbrigade-slackin.herokuapp.com/", target="_blank") join us on Slack],

    h4 Executive Team
    ul
      li Hy Carrel, Interim Captain (@hy on Slack)
      li Vedrana Trbusic, Public Relations (@vedrana on Slack)
    h4 Member Support
    ul
     li Julio Feliciano, Team Lead (@julio on Slack)
     li Jason Lally (@jasonlally on Slack)
     li Sandra Stark (@sandrastark on Slack)
    h4 Project Launch
    ul
      li Larry Bafundo, Team Lead (@larry on Slack)
      li Judy van Soldt (@judy on Slack)
      li Jacob Sills (@jsills on Slack)
    h4 Website & Tools
    ul
      li Trent Oswald, Team Lead (@therebelrobot on Slack)
      li Jesse Szwedko (@jszwedko on Slack)
    Interested in joining the leadership team? That’s great! Check out leadership
    roles here and reach out to Hy for more information.

    h4 Our Partners
    p.
      Code for San Francisco partners with San Francisco government and Bay Area
      non-profits to make our city work better. Here’s who we work with:

    ul
      li
        a(href='https://sfbrigade-slackin.herokuapp.com', target="_blank") SF Mayor's Office of Civic Innovation
      li 
        a(href='http://datasf.org/', target="_blank") DataSF
    p.
      Interested in partnering with Code for San Francisco? Contact Jesse or
      Maddie for more information.
