@import 'themes/default/variables';

// @import "vendors/bootstrap/bootstrap";

@import 'vendors/font-awesome/font-awesome';
@import 'vendors/simplemde.min';

@import 'themes/default/default';
@import 'mixins/mixins';

// Scaffolding
// -------------------------

$scroll-transition: 0.2s;

html {
  position: relative;

  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

  margin-bottom: 75px;
  padding-top: 126px;

  transition: padding-top $scroll-transition ease-in-out;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  @media (max-width: 47.9rem) {
    padding-top: 85px;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}
// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

.sidebar {
  ul {
    list-style: none;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Product Card

.project-card {
  display: inline-block;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;

  border-radius: 0;
  box-shadow: 0 0 5px #cccccc, inset 0 0 0 #000000;
}

.project-card {
  display: inline-block;

  max-width: 200px;
  height: 400px;
  margin: 0;
  margin: 4px 10px;

  vertical-align: top;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.float {
  display: block;
  float: left;
  &.right {
    float: right;
  }
  &.center {
    margin: auto;
  }
}
.clearfix {
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}

h1.page-title {
  font-size: 72px;
  font-weight: 700;

  color: #d20a11;
}
.row.breadcrumbs {
  font-size: 12px;

  padding-top: 20px;
  padding-bottom: 10px;

  color: #b8b8b8;
}

.form-group {
  @extend .clearfix;
}

.tags .selected a {
  background: yellow;
}

/* Account page TODO: put in views/account-settings*/

.delete-account {
  display: none;
}


img {
  max-width: 100%;
}

nav + .container {
  .row {
    display: block;

    width: 100%;

    @extend .clearfix;
  }
}
.hidden {
  display: none !important;
}

.delete-checkbox {
  input:checked + .btn {
    color: #d9534f;
    background: white;
  }
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  th, td {
    line-height: 1.5;

    padding: 0.75rem;

    vertical-align: top;

    border-top: 1px solid hsl(200, 9%, 93%);
  }
  thead {
    th {
      font-weight: bold;

      vertical-align: bottom;

      border-bottom: 2px solid hsl(200, 9%, 93%);
    }
  }
}

input {
  font-size: 1rem;
  line-height: 1.5;

  // display: block; // this was blocking trashcan icon from displaying next to checkbox
  // width: 100%;  // did it need to be here? (Tracy - June 9, 20016)

  padding: 0.375rem 0.75rem;

  color: hsl(206, 4%, 35%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.25rem;
  background-color: hsl(0, 0%, 100%);
  background-image: none;
}

.bootstrap-tagsinput {
  width: 100%;
}
// Import view specific styles

@import 'views/account-settings';
@import 'views/blog-list-manage';
@import 'views/blog-list';
@import 'views/blog-post-edit';
@import 'views/blog-post-new';
@import 'views/blog-post';
@import 'views/brigade-manage';
@import 'views/contact-edit';
@import 'views/contact';
@import 'views/event-list-manage';
@import 'views/event-list';
@import 'views/event-new';
@import 'views/event-settings';
@import 'views/event';
@import 'views/landing-edit';
@import 'views/landing';
@import 'views/project-list-manage';
@import 'views/project-list';
@import 'views/project-new';
@import 'views/project-settings';
@import 'views/project';
@import 'views/user-list-manage';
@import 'views/user-list';
@import 'views/user-new';
@import 'views/user-settings';
@import 'views/user';
@import 'partials/nav';
@import 'partials/footer';
