[data-view='event-list'] {
  .upcoming-title {
    margin-top: 1rem;
  }
  .upcoming {
    overflow: auto;

    height: 640px;
    @media (max-width: 61.9em) {
      overflow: none;

      height: auto;
    }
  }
  .event-card {
    position: relative;

    display: block;

    margin-bottom: 0.75rem;
    padding: 0.75rem 0.75rem;

    border-bottom: 1px solid  #e5e5e5;
    &:last-child {
      border: none;
    }
    .event-title {
      margin-bottom: 0.75rem;
    }
    .event-date {
      font-weight: bold;

      margin-bottom: 0.75rem;

      color: $brand-red;
    }
    .event-text {
      line-height: 1.2;

      margin-top: 0;
      margin-bottom: 0.75rem;
    }
  }
}
