footer {
  line-height: 45px;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 45px;
  p, ul {
    margin-bottom: 0;
  }
  .partners-title {
    .col-sm-12 {
      font-weight: 700;

      position: relative;

      text-align: center;
      text-transform: uppercase;

      color: #383737;
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 550px;
        max-width: 100vw;
        height: 5px;

        content: '';
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

        background: #e7e7e7;
      }
      h3 {
        font-size: 1.5rem;

        position: relative;
        z-index: 9;

        display: inline-block;

        min-width: 200px;
        margin: 0 auto;
        padding: 0 30px;

        background: #ffffff;
      }
    }
  }
  .partners-logos {
    a {
      position: relative;

      display: block;

      width: 200px;
      height: 200px;
      margin: 0 auto;
      @media (max-width: 47.9rem) {
        height: 125px;
      }
      img {
        @include vertical-align;
      }
    }
  }
  .show-partners {
    text-align: center;
  }
  .footer-nav {
    position: relative;

    margin-top: 40px;
    padding-bottom: 50px;

    background: #2f3030;
    ul {
      padding-right: 40px;

      list-style-type: none;
      li {
        display: inline-block;

        padding: 10px;
        a {
          font-size: 12px;

          position: relative;

          display: block;

          color: #ffffff;
        }
      }
    }
  }
}
