extends layout

  div.container
    div#landing-hero.row
      div#landing-message.col-sm-8
        p
          Code for San Francisco is really great, as evidenced by the background-image applied to landing-hero
      div#landing-events.col-sm-4
        h2  Events
        ul.list-group
          li.list-group-item 
            a.event-title  This is the Event Title
              span.label  Jan. 31
    div#landing-stats.row
      div.col-sm-3
        div#landing-stat-1.landing-stat
          div.row
            div.col-sm-4
              Image here
            div.col-sm-8
              span.display-4
                000
              p
                I Am Label
        div#landing-stat-2.landing-stat
          div.row
            div.col-sm-4
              Image here
            div.col-sm-8
              span.display-4
                000
              p
                I Am Label
        div#landing-stat-3.landing-stat
          div.row
            div.col-sm-4
              Image here
            div.col-sm-8
              span.display-4
                000
              p
                I Am Label
        div#landing-stat-4.landing-stat
          div.row
            div.col-sm-4
              Image here
            div.col-sm-8
              span.display-4
                000
              p
                I Am Label
    div#landing-ctas.row
      div.col-sm-4
        div#landing-cta-1.card.landing-cta
          img.card-img-top
          div.card-block
            h4.card-title

    div#landing-projects.row

    div#landing-blog.row

    div#landing-partners.row










  block content
  //- h1= brigade.name
  p.lead= brigade.copy.description
  p
    | Join us on 
    a(href='http://www.meetup.com/codeforatlanta/', target='_blank') Meetup
    |  and sign up to our mailing list:
    div
      .pull-left
        form#mc-embedded-subscribe-form.form-inline(action='//codeforsanfrancisco.us10.list-manage.com/subscribe/post?u=13e30524fec23783d4f80e3b5&id=9ea07180fe', method='post', name='mc-embedded-subscribe-form', novalidate='novalidate', role='form', target='_blank')
          input#mce-EMAIL.form-control(name='EMAIL', placeholder='Your email address', style='width:250px;', type='email', value='')
          input#mc-embedded-subscribe.btn.btn-primary(name='subscribe', type='submit', value='Get Email Updates')
      .pull-right.brigade-logo
        img(alt='Brigade', src='/assets/brigade-80a87b0db6b6bafa21fd2f9478932353.png')
    .clearfix
    p.slack
      | Join the discussion on Slack: 
      iframe.__slackin(src='https://codeforsanfrancisco-slackin.herokuapp.com/iframe?large', style='border-width: 0px; width: 154px; height: 30px; visibility: visible;')
  hr
  .row
    .col-sm-4
      h2 next event here
    .col-sm-8
      h2 Search Projects
