@mixin mobile {
  @media (max-width: 47.9em) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 47.9em) {
    @content;
  }
}

@mixin animation($property, $duration, $effect) {
  transition: $property $duration $effect;
}

@mixin row-nav {
  .row.navigation {
    @content;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}