extends ../layout
block content
  .container
    .page-header
      h1 Blog
      .row
        each blog in blogs
          .col-sm-4
            a(href="#")
              img(src="http://lorempixel.com/g/360/215/").img-fluid
            p
              small.text-muted #{ blog.normalizedDate } |
                a(href="/blog/#{ blog.title }") Blog
            h4 #{ blog.title }
            p #{ blog.caption }
