extends ../layout
block content
.container
  .page-header
    h1 Blog
  // note multiple rows... will need to calculate them based on number of posts for perfect alignment. - AB
  .row
    .col-sm-4
      a(href="#")
        img(src="http://lorempixel.com/g/360/215/").img-fluid
      p 
        small.text-muted January 31, 2016 | 
          a(href="#") Blog
      h4 Dramatically engage top-line web services 
      p Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
    .col-sm-4
      a(href="#")
        img(src="http://lorempixel.com/g/360/215/").img-fluid
      p 
        small.text-muted January 31, 2016 | 
          a(href="#") Blog
      h4 Holisticly predominate extensible testing procedures
        p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
    .col-sm-4
      a(href="#")
        img(src="http://lorempixel.com/g/360/215/").img-fluid
      p 
        small.text-muted January 31, 2016 | 
          a(href="#") Blog
      h4 Objectively Innovate Empowered Manufactured Products
      p Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
  .row
    .col-sm-4
      a(href="#")
        img(src="http://lorempixel.com/g/360/215/").img-fluid
      p 
        small.text-muted January 31, 2016 | 
          a(href="#") Blog
      h4 Proactively envisioned multimedia
      p Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.
    .col-sm-4
      a(href="#")
        img(src="http://lorempixel.com/g/360/215/").img-fluid
      p 
        small.text-muted January 31, 2016 | 
          a(href="#") Blog
      h4 Seamlessly visualize quality intellectual capital
      p Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.