extends ../layout

block content
  .page-header
    h3.text-center Blog Posts
    
    nav.navbar
      ul.nav.navbar
        li.nav-item
          a.nav-link(href="#") Blog
        li.nav-item
          a.nav-link(href="#") Blog
        li.nav-item
          a.nav-link(href="#") Blog
    
    div.container
      div.row
        div.col-lg-4.col-md-6
           a(href="#")
              img(src="http://lorempixel.com/g/360/215/")
           p 10 lutego 2016 | 
              a(href="#") Blog
           h4 12 błędów popełnianych podczas tworzenia aplikacji społecznych
           p.
            Stworzenie dobrej aplikacji społecznej nie jest proste, z kilku powodów jest nawet trudniejsze od przygotowania aplikac

        div.col-lg-4.col-md-6
           img(src="http://lorempixel.com/g/360/215/")
           p 10 lutego 2016 | 
              a(href="#") Blog
           h4 12 błędów popełnianych podczas tworzenia aplikacji społecznych
           p.
            Stworzenie dobrej aplikacji społecznej nie jest proste, z kilku powodów jest nawet trudniejsze od przygotowania aplikac

        div.col-lg-4.col-md-6
           img(src="http://lorempixel.com/g/360/215/")
           p 10 lutego 2016 | 
              a(href="#") Blog
           h4 12 błędów popełnianych podczas tworzenia aplikacji społecznych
           p.
            Stworzenie dobrej aplikacji społecznej nie jest proste, z kilku powodów jest nawet trudniejsze od przygotowania aplikac

        div.col-lg-4.col-md-6
           img(src="http://lorempixel.com/g/360/215/")
           p 10 lutego 2016 | 
              a(href="#") Blog
           h4 12 błędów popełnianych podczas tworzenia aplikacji społecznych
           p.
            Stworzenie dobrej aplikacji społecznej nie jest proste, z kilku powodów jest nawet trudniejsze od przygotowania aplikac

        div.col-lg-4.col-md-6
           img(src="http://lorempixel.com/g/360/215/")
           p 10 lutego 2016 | 
              a(href="#") Blog
           h4 12 błędów popełnianych podczas tworzenia aplikacji społecznych
           p.
            Stworzenie dobrej aplikacji społecznej nie jest proste, z kilku powodów jest nawet trudniejsze od przygotowania aplikac
