extends ../layout

!= messages()

block content
  .page-header
    h3 New Blog

  div
    form(id='blogsubmit', method='POST', action='/blog/new')
      input(type="hidden", name="_csrf", value=_csrf)
      input(type='text', value='Title..', name='blogtitle')
      input(type='submit', value='Submit')
      textarea(form='blogsubmit', name='blogcontent')
