extends ../layout

block content
  .row.breadcrumbs
    .col-sm-12
      a(href='/')= brigade.name
      | &nbsp;&nbsp;/&nbsp;
      a(href='/checkin') Check In
  .row.page-header
    .col-sm-12
      h1.page-title Hack Night Check In
  .row
    hr
  .container
    .row
      | Test Content here
