[data-view='home'] {
  @media (max-width: 47.9rem) {
    nav > .container {
      padding: 0 0.9375rem;
    }
    .container {
      padding: 0;
    }
  }
  /* Landing Page */
  #landing-hero {
    position: relative;

    height: 400px;
    margin: 0 -1.8750rem;

    color: white;
    background-size: cover;
    @media (max-width: 780px) {
      margin: 0;
    }
    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      content: '';

      background:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background:         linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
    & > * {
      z-index: 2;
    }
    #landing-message {
      position: absolute;
      bottom: 0;
      left: 0;

      padding: 25px;

      color: white;
      p {
        font-size: 24px;

        margin-bottom: 0;
      }
    }
    .landing-events {
      position: absolute;
      top: 25px;
      right: 15px;
      bottom: 25px;
      @media (max-width: 47.9rem) {
        display: none;
      }
      @media (max-width: 61.9rem) {
        top: 53px;
      }
      h5 {
        font-size: 1.5rem;
      }
      .list-group-item {
        padding: 0.75rem 0 1.5rem;
        &:last-child {
          padding: 0.75rem 0 0.25rem;
        }
        a span {
          // margin-top: -5px;
          display: block;
        }
        a:hover {
          text-decoration: none;

          background-color: rgba(255,255,255,0.2);
        }
        i {
          float: left;

          padding-right: 10px;
        }
        .event-date {
          font-size: 1.2rem;
          font-weight: 700;
        }
        .event-title {
          font-size: 1.4rem;
        }
        a.btn.btn-secondary.checkin {
          font-size: 1.5rem;

          width: 100%;
          margin-top: 1rem;
          margin-bottom: 1rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;

          transition: background-color 0.3s;

          color: rgba(170,0,1,1);
          &:hover {
            transition: background-color 0.3s;

            color: #ffffff;
            border-color: #ffffff;
            background-color: transparent;
          }
        }
        @media (max-width: 61.9rem) {
          a.btn.btn-secondary.checkin {
            font-size: 1.2rem;
          }
          .fa-2x {
            font-size: 2rem;
          }
          .event-date {
            font-size: 1rem;
          }
          .event-title {
            font-size: 1rem;
          }
        }
      }
      .label {
        margin-left: 10px;
      }
      .content {
        padding: 30px;

        color: white;
        border: 2px solid #ffffff;
        background: rgba(170,0,1,0.8);
        @media (max-width: 61.9rem) {
          padding: 20px;
        }
      }
      ul {
        padding: 0;

        border: none;
        background: transparent;
        li {
          color: white;
          border: none;
          background: transparent;
          a {
            color: white;
          }
        }
      }
    }
  }
  .landing-events-mobile {
    display: none;
  }
  @media (max-width: 47.9rem) {
    .landing-events-mobile {
      display: block;

      width: 100%;

      background: rgba(170,0,1,0.8);
      h5 {
        font-size: 1.5rem;
      }
      .list-group-item {
        padding: 0.75rem 0 1.5rem;
        &:last-child {
          padding: 0.75rem 0 0.25rem;
        }
        a span {
          // margin-top: -5px;
          display: block;
        }
        a:hover {
          text-decoration: none;

          background-color: rgba(255,255,255,0.2);
        }
        i {
          float: left;

          padding-right: 10px;
        }
        .event-date {
          font-size: 1.2rem;
          font-weight: 700;
        }
        .event-title {
          font-size: 1.4rem;
        }
        a.btn.btn-secondary.checkin {
          font-size: 1.5rem;

          width: 100%;
          margin-top: 1rem;
          margin-bottom: 1rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;

          color: rgba(170,0,1,1);
          &:hover {
            background-color: rgba(255,255,255,0.75);
          }
        }
        @media (max-width: 335px) {
          .fa-2x {
            font-size: 2.25rem;
          }
          .event-date {
            font-size: 1rem;
          }
          .event-title {
            font-size: 1.25rem;
          }
        }
      }
      .label {
        margin-left: 10px;
      }
      .content {
        padding: 30px;

        color: white;
      }
      ul {
        padding: 0;

        border: none;
        background: transparent;
        li {
          color: white;
          border: none;
          background: transparent;
          a {
            color: white;
          }
        }
      }
    }
  }
  .centered {
    margin: 0 auto;
    padding: 0 1em;
  }
  #landing-stats {
    display: flex;
    justify-content: space-around;
    height: 108px;

    .landing-stat {
      display: flex;
      flex: 0 0 28%;
    }
    .landing-stat:first-child:nth-last-child(4),
    .landing-stat:first-child:nth-last-child(4) ~ .landing-stat {
      flex: 0 0 25%;
    }
    .col-sm-5 {
      position: relative;

      height: 108px;
    }
    img {
      display: block;
      position: relative;
      top: 50%;
      left: 50%;

      transform: translateY(-50%) translateX(-50%);
    }
    strong {
      font-size: 72px;
      font-weight: 700;
      line-height: 80%;

      margin-top: -5px;
      margin-bottom: 5px;

      color: #d20a11;
    }
    .txt {
      font-size: 14px;
      font-weight: 700;
      line-height: 110%;
    }
  }
  #landing-ctas {
    span.card-img-top {
      display: block;
      overflow: hidden;

      width: 338px;
      max-width: 100%;
      height: 211px;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @media (max-width: 47.9rem) {
        width: auto;
      }
    }
  }
  #landing-cta-1 {
    span.card-img-top {
      background-position: bottom right;
    }
  }
  #landing-projects {
    .btn {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
  #landing-blog {
    .card.post {
      span.thumbnail {
        display: block;

        width: 100%;
        height: 200px;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
    .btn {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
}
