[data-view='project'] {
  .banner{
    .project-banner{
      display:block;
      width:100%;
      height:200px;
      background-size:cover;
      background-position:center center;
      background-repeat:no-repeat;
    }
  }
  .project-meta{
    display:block;
    border: solid 4px hsl(200, 63%, 52%);
    border-radius: 5px;
    .meta-title{
      display:block;
      padding:10px;
      background-color:hsl(200, 63%, 52%);
      color:white;
    }
    .meta-body{
      display:block;
      padding:10px;
      .meta{
        display:block;
        padding: 10px 0;
        border-bottom:solid 1px #eee;
        &:last-child{
          border-bottom:none;
        }
        span{
          font-weight:bold;
          &.info{
            float:right;
            text-align:right;
          }
        }
        .meta-teammember{
          img{
            width:50px;
            margin:0px 0px 5px 5px;
          }
        }
        
      }
    }
  }
}
