[data-view='project-list'] {
  .project-list-card {
    width:100%;
    span.thumbnail {
      display:block;
      width:370px;
      height:200px;
      background-size:cover;
      background-position:center center;
      background-repeat:no-repeat;
    }
  }
}
