extends ../layout

block content
  .page-header
    h3 Add New User
    form.row.form-horizontal(action='/users/new', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='name') Name
        .col-sm-7
          input.form-control(type='text', name='name', id='name', value='',required)
      .form-group
        label.col-sm-3.control-label(for='username') Username
        .col-sm-7
          input.form-control(type='text', name='username', id='username', value='',required)
      .form-group
        label.col-sm-3.control-label(for='email') Email
        .col-sm-7
          input.form-control(type='email', name='email', id='email', value='')
      .form-group
        label.col-sm-3.control-label(for='position') Position
        .col-sm-7
          input.form-control(type='text', name='position', id='position', value='')
      .form-group
        label.col-sm-3.control-label(for='location') Location
        .col-sm-7
          input.form-control(type='text', name='location', id='location', value='')
      .form-group
        .col-sm-3 Permissions
        .col-sm-7
          .col-sm-3
            label(for='read')
              input(type='checkbox', name='read', id='read', value='read', checked=true)
              | Read
          .col-sm-3
            label(for='blog')
              input(type='checkbox', name='blog', id='blog', value='blog')
              | Blog
          .col-sm-3
            label(for='project')
              input(type='checkbox', name='project', id='project', value='project')
              | Project
          .col-sm-3
            label(for='lead')
              input(type='checkbox', name='lead', id='lead', value='lead')
              | Lead
          .col-sm-3
            label(for='core')
              input(type='checkbox', name='core', id='core', value='core')
              | Core
           .col-sm-3
             label(for='roles-coreLead')
               input(type='checkbox', name='coreLead', id='coreLead', value='coreLead')
               | CoreLead
           .col-sm-3
             label(for='superAdmin')
               input(type='checkbox', name='superAdmin', id='superAdmin', value='superAdmin')
               | SuperAdmin
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn-primary(type='submit') Add User
  
        
