@import 'themes/default/variables';

// @import "vendors/bootstrap/bootstrap";

@import 'vendors/font-awesome/font-awesome';
@import 'vendors/simplemde.min';

@import 'themes/default/default';

// Scaffolding
// -------------------------

$scroll-transition: 0.2s;

html {
  position: relative;

  min-height: 100%;
}

body {
  margin-bottom: 75px;
  padding-top: 110px;

  transition: padding-top $scroll-transition ease-in-out;
}

footer {
  line-height: 45px;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Navbar
// -------------------------

.sidebar {
  ul {
    list-style: none;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Product Card

.project-card {
  display: inline-block;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;

  border-radius: 0;
  box-shadow: 0 0 5px #cccccc, inset 0 0 0 #000000;
}

.project-card {
  display: inline-block;

  max-width: 200px;
  height: 400px;
  margin: 0;
  margin: 4px 10px;

  vertical-align: top;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
.dropdown-menu {
  li {
    &.header {
      font-size: 10px;
      font-weight: 500;

      min-height: 0;
      padding: 8px 10px 3px 10px;

      letter-spacing: 0.5px;
      text-transform: uppercase;

      color: hsl(200, 4%, 73%);
      background: none;
    }
  }
}
.float {
  display: block;
  float: left;
  &.right {
    float: right;
  }
  &.center {
    margin: auto;
  }
}
.clearfix {
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}

nav.navbar {
  transition: height $scroll-transition ease-in-out;

  background-color: white;
  a {
    height: 100%;
  }
  ul {
    height: 100%;
  }
  .row.account {

    transition: height $scroll-transition ease-in-out, margin-bottom $scroll-transition ease-in-out;
    
    img {
      transition: height $scroll-transition ease-in-out, margin-bottom $scroll-transition ease-in-out;
    }

    .dropdown-toggle {
      position: relative;

      width: auto;
      padding-right: 40px;

      transition: height $scroll-transition ease-in-out, padding $scroll-transition ease-in-out;
      white-space: nowrap;

      img {
        position: absolute;
        top: 18px;
        right: -15px;
        bottom: auto;
        left: auto;

        transition: height $scroll-transition ease-in-out;
      }
      &:after {
        display: none;
      }
    }
  }
  .row.navigation {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    
    .navbar-nav {
      padding-top: 9px;
    }
  }
  .navbar-brand {

    white-space: nowrap;
    img {
      display: inline-block;

      width: auto;
      height: 35px;
    }
    span {
      display: inline-block;

      height: 100%;
      margin-left: 10px;
      padding-top: 9px;
    }
  }
  
  .navbar-toggler {
    margin-top: 8px;
    float: right;
    
    &:focus {
      outline:none;
    }
  }
}
body.scroll {
  .navbar {
    padding-top: 0;

    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);
    .row.navigation {
      border-top: none;
    }
    .row.account {
      height: 10px;
      margin-bottom: 10px;
        img {
          height: 0;
        }
      .dropdown-toggle {
        height: 10px;
        padding: 2px 0;
        img {
          height: 0;
        }
      }
    }
  }
}

h1.page-title {
  font-size: 72px;
  font-weight: 700;

  color: #d20a11;
}
.row.breadcrumbs {
  font-size: 12px;

  padding-top: 20px;
  padding-bottom: 10px;

  color: #b8b8b8;
}


footer {
  .partners-title {
    .col-sm-12 {
      font-weight: 700;

      position: relative;

      text-align: center;
      text-transform: uppercase;

      color: #383737;
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 550px;
        max-width: 100vw;
        height: 5px;

        content: '';
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

        background: #e7e7e7;
      }
      h3 {
        font-size: 1.5rem;

        position: relative;
        z-index: 9;

        display: inline-block;

        min-width: 200px;
        margin: 0 auto;
        padding: 0 30px;

        background: #ffffff;
      }
    }
  }

  .partners-logos {
    a {
      position: relative;

      display: block;
      float: left;

      height: 200px;
      width:200px;
      margin: 0 20px;

      img {
        position: absolute;
        top: 50%;
        left: 50%;

        width:100%;

        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
      }
    }
  }

  .show-partners{
    text-align:center;
  }
  .footer-nav {
    position: relative;

    margin-top: 40px;
    padding-bottom: 50px;

    background: #2f3030;
    ul {
      list-style-type: none;
      padding-right:40px;
      li {
        display: inline-block;

        padding: 10px;
        a {
          font-size: 12px;

          position: relative;

          display: block;

          color: #ffffff;
        }
      }
    }
  }
}


.draft:before {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    content: "draft";
    font-size: 2em;
    color: white;
    background: rgba(0,0,0,.8);
  }

  .tags .selected a{
    background: yellow;
  }

/* Account page TODO: put in views/account-settings*/

.delete-account {
  display: none;
}


// Import view specific styles

@import 'views/account-settings';
@import 'views/blog-list-manage';
@import 'views/blog-list';
@import 'views/blog-post-edit';
@import 'views/blog-post-new';
@import 'views/blog-post';
@import 'views/brigade-manage';
@import 'views/contact-edit';
@import 'views/contact';
@import 'views/event-list-manage';
@import 'views/event-list';
@import 'views/event-new';
@import 'views/event-settings';
@import 'views/event';
@import 'views/landing-edit';
@import 'views/landing';
@import 'views/project-list-manage';
@import 'views/project-list';
@import 'views/project-new';
@import 'views/project-settings';
@import 'views/project';
@import 'views/user-list-manage';
@import 'views/user-list';
@import 'views/user-new';
@import 'views/user-settings';
@import 'views/user';
